*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background-color: rgb(203, 226, 218);
    display: flex;
    align-items: center;
    justify-content: center;
}
.job{
    height: 45vh;
    width: 50%;
    display: flex;
}
.img img{
    height: 45vh;
    width: 120%;
    border-radius: 5px 0px 0px 5px;
    /* box-shadow: 0px 0px 0px 3px rgb(99, 97, 97); */

}
.side2{
    height: 45vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    /* box-shadow: 3px 0px 3px 3px rgb(99, 97, 97); */

}
.side2{
    position: relative;
    right: 0px;
}
.side2 p{
    margin-top: 20px;
}
.base{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    align-items: center;
}
.mich{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.shr2{
    height: 30px;
    width: 30px;
    margin-left: 90px;
    background-color: rgb(203, 226, 218);
    border-radius: 50%;
}
.text p{
    font-size: 14px;
}
.date h4{
    font-size: 12px;
    color: rgb(71, 69, 69);
}



@media screen and (max-width:950px) {
    .job{    
        height: 90vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .img{
        height: 20vh;
        width: 79%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img img{
        border-radius: 20px 20px 0px 0px;

    }
    .side2{
        height: 45vh;
        position: relative;
        top: 30px;
        border-radius: 0px 0px 20px 20px;
        /* box-shadow: 0px 0px 0px 0px; */
        /* border-radius: 0px 0px 20px 20px; */
    }
    .side2, h2{
        font-size: 16px;
    }
    .side2, p{
        font-size: 15px;
        color: rgb(90, 75, 75);
    }
    .date h3{
        white-space: nowrap;
        font-size: 12px;
    }
    .base{
        margin-top: 50px;
    }
    .mich{
        height: 30px;
        width: 30px;
    }
    .shr2{
        margin-left: 40px;
        height: 30px;
        width: 30px;
    }


}